<head>
  <meta charset="utf-8" />
  <title>{{page.title}} - Nullam Imperdiet</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.8.1/build/cssreset/cssreset-min.css">
  <link href="/css/main.css" media="screen" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic|Philosopher' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
  <script src="/js/application.js"></script>
  
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
